@import url("https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap");
* {
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  margin: 0px !important;
  width: 100% !important;
  height: 99% !important;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*padding-top: 0px;*/
}

.board-container {
  /*border: 1px solid black;*/
  width: 35%;
  height: 66%;
  min-height: 66% !important;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% !important;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% !important;
}
/* MEdia queries For small screens? */

.board-container img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(20%);
}

.info-area {
  height: 20%;
  width: 25%;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  font-family: Pirata One, sans-serif;
  font-size: larger;
}
.info-area div {
  opacity: 0.95;
}
/*
.info-area img {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
*/
#buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 5px;
  /*border: 1px solid black;*/
  font-family: Pirata One, sans-serif;
  background-color: rgba(255, 244, 244, 0.4);
}
