.container {
  width: 100vw !important;
  height: 100vh !important;
  /*
  background: url(https://www.itl.cat/pngfile/big/303-3038310_larger-alliance-and-horde-backgrounds-as-requested-alliance.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  border: 1px solid black;
  width: 40%;
  height: 75%;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% !important;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% !important;
}
/* MEdia queries For small screens? */

img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(30%);
}
